<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
        <h2>Login</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

            <div style="margin-bottom: 25px"  class="form-group input-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <!-- <label for="username">Username</label> -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="User Name"/>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div style="margin-bottom: 25px"  class="form-group input-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <!--                <label for="password">Password</label> -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required data-toggle="password" placeholder="Password" />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div style="margin-bottom: 25px"  class="form-group input-group" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                <select name="type" class="form-control" [(ngModel)]="model.type">
                  <option *ngFor="let type of authTypes" [value]="type">{{type}}</option>
                </select>
             </div>

          <div  style="margin-bottom: 25px"  class="form-group input-group pull-right" >
                <button [disabled]="loading" class="btn btn-success btn-md"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Login</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>
